asgiref==3.6.0
boto3==1.26.119
botocore==1.29.119
ca-certificates==2023.01.10
django-cors-headers==3.14.0
django-storages==1.13.2
django==3.2
djangorestframework-jwt==1.11.0
djangorestframework-simplejwt==5.2.2
djangorestframework==3.14.0
et-xmlfile==1.1.0
jmespath==1.0.1
libcxx==14.0.6
libffi==3.4.2
mysql-connector-python==8.0.33
ncurses==6.4
openpyxl==3.1.2
openssl==1.1.1t
pip==23.0.1
protobuf==3.20.3
pyjwt==1.7.1
pypdf2==3.0.1
python-dateutil==2.8.2
python==3.9.16
pytz==2023.3
readline==8.2
s3transfer==0.6.0
setuptools==66.0.0
six==1.16.0
sqlite==3.41.2
sqlparse==0.4.4
tk==8.6.12
typing-extensions==4.5.0
tzdata==2023c
urllib3==1.26.15
wheel==0.38.4
xz==5.2.10
zlib==1.2.13
